:root {
    --main: #0051ff;
    --second: #002c8b;
}
body {
    margin: 0;
}
header {
  position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background: var(--main);
    z-index: 10;
}
.list {
  height: 70px;
  width: 97%;
  border-radius: 20px;
  padding: 2px;
  background: white;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  margin: 5px;
}
.list .device {
  display: inline-block !important;
  position: relative !important;
}
.list .label {
  display: inline-block !important;
  position: relative !important;
} 
.panel {
  float: left;
  width: 40%;
}
h2 {
  color: white;
  margin: 5px 0 0 0;
}
/*  TOOLBAR */
.toolbar {
  display: inline-block;
  width: 100%;
  height: 35px;
  background-color: var(--second);
}
.toolbar button {
  height: 35px;
  width: 100px;
  border: none;
  background: var(--second);
  color: white;
  font-size: 25px;
}
.toolbar button.selected {
  background: var(--main);
}

#tbdetails div.c {
  display: none;
}
#tbdetails div.selected {
  display: block;
}
.list .point {
  margin: 30px;
}