:root {
    --main: #0051ff;
}
body {
    margin: 0;
}
header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: var(--main);
}
.list {
  height: 64px;
  width: 80%;
  border-radius: 20px;
  padding: 5px;
  background: white;
}
.list .device {
  display: inline-block !important;
  position: relative !important;
}
/* NETWORK*/
#view {
  min-height: calc(100vh - 150px);
  width: 100%;
  background: white;
}

.device {
  width: 64px;
  height: 64px;
  background: red;
  position: absolute;
}
.device img {
  width: 64px;
  height: 64px;
  margin: 0;
}